.About {
    text-align: center;
  }

.About-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(100px + 2vmin);
    color: white;

  } 

.description {
  font-family:'Times New Roman', Times, serif;
}