.Home {
    text-align: center;
  }

.Home-header {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: calc(100px + 2vmin);
    color: white;
  } 
  .blurb1 {
    font-family: 'Inter', sans-serif;
    text-align: start;
    line-height: 1.5;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  h2 {
    font-size: calc(10px + 2vmin);
    color: black;
  }

  section {
    margin-bottom: 5rem;
  }

  p {
    font-size: 16px;
    color: black;
  }

  .Footer-name {   /* text in footer */
    font-size: 16px;
    color: rgb(0, 0, 0);
  }

  footer { /* this is the ac pink square box */
    background-color: rgb(250, 170, 230);;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.5rem;
  }

  .tiktok {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    font-family: "Inter", sans-serif;
    padding: 10px 20px; /* Adjust the padding to change the button size */
    border: none; /* Remove the border */
    border-radius: 100px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Set the font size */
    margin: 5px;
  }

  .youtube {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    font-family: "Inter", sans-serif;
    padding: 10px 20px; /* Adjust the padding to change the button size */
    border: none; /* Remove the border */
    border-radius: 100px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Set the font size */
    margin: 5px;
  }

  .linkedin {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    font-family: "Inter", sans-serif;
    padding: 10px 20px; /* Adjust the padding to change the button size */
    border: none; /* Remove the border */
    border-radius: 100px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Set the font size */
    margin: 5px;
  }

  .button {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 254, 254);
    font-family: "Inter", sans-serif;
    padding: 10px 20px; /* Adjust the padding to change the button size */
    border: none; /* Remove the border */
    border-radius: 100px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size:  25px; /* Set the font size */
    margin: 5px;

  }