.Home {
    text-align: center;
  }

.Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    font-size: calc(100px + 2vmin);
    color: white;
  } 

  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  h2 {
    font-size: calc(10px + 2vmin);
    color: black;
  }

  section {
    margin-bottom: 2rem;
  }

  p {
    font-size: 16px;
    color: black;
  }

  .Footer-name {
    font-size: 16px;
    color: white;
  }

  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem;
  }